
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex; 
}
.btn-primary{
    background-color: orange;
    border-radius: 10px;
} 
/*navbar color */
.text-orange{
    color: orange;
    
}
.section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.text-skyblue{
    color: skyblue;
}
.text-05D4DF{
    color: #05D4DF;
}
.text-5D58EF{
    color: #5D58EF;

}


/* header styles */


/*navbar related styles */
.navbar{
   justify-content: space-between;
   align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 1.5rem;
  align-items: center ;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
}
.nav-link{
    text-decoration: none;
}
.navbar, .navb
.tear{
max-width: 1440px;
margin: auto;
}
.banner-tittle{
    font-weight: 700;
    font-size: 4em;

}
.banner{
    justify-content: center;
    margin-block: 20px;
}
.banner-image{
width: 100%;
}
.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;  
}



@media screen and (max-width: 576px) {
    .navbar, .nav-links{
     flex-direction: column;
    }
}